
body{
    background-color: rgb(253, 253, 253);
    color: rgb(10, 10, 10);
    font-size: 16px;
    font-family: 'Raleway', 'sans-serif';
    text-align: center;
}
h1{
    color: red;
    font-size: 50px;
}
h2{
    color: rgb(10, 10, 10);
    font-size: 20px;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: darkgray;
}
a:hover{
    color: grey

}
#banner{
    background-color: rgb(155, 155, 155);
    padding: 150px;
    text-shadow: 0.5px 0.5px 0.5px black;
}

#banner h1{
    color: white;
    font-size: 60px;
    margin-bottom: 15px;
    font-family: 'Monserrat', sans-serif;
    font-weight: bold;
    
}

.card{
    padding: 25px;
}

#footer{
    padding: 20px;
    background-color: darkslategrey;
    
    
}